html {
  box-sizing: border-box;
  background-color: #292929;
  display: flex;
  justify-content: center;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  align-items: center;
}

h1,
h2,
p {
  margin: 0;
}
h1 {
  font-size: 1.2em;
}
svg {
  width: 1.5em;
}
img {
  width: 4em;
  height: 4em;
  object-fit: cover;
  border-radius: 100%;
}
.tweet {
  margin-top: 16px;
  background-color: whitesmoke;
  border-radius: 10px;
  padding: 2em 5em 2em 2em;
  display: flex;
  gap: 1em;
  justify-content: flex-start;
  max-width: 400px;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.top {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0.5em;
  gap: 0.2em;
  align-items: center;
  justify-content: flex-start;
}
.interactions {
  width: 100%;
  margin-top: 2em;
  display: flex;
  justify-content: space-between;
}
.interaction {
  display: flex;
  gap: 0.2em;
  align-items: center;
}
.username {
  display: flex;
}
.verify {
  color: #1da1f2;
}
.gray {
  color: #808080;
}
